<!-- Title group  -->
<div class="title-group">
  <h1 class="mat-h1">Add Sale</h1>
  <mat-divider fxFlex="1 0"></mat-divider>
</div>

<!-- Form -->
<div class="inner-wrapper">
  <form [formGroup]="saleForm" (ngSubmit)="submitSaleForm()" #resetSaleForm="ngForm" novalidate>
    <!-- Left block -->
    <mat-card>
      <div class="controlers-wrapper">
        <!-- Name -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Builty Number" formControlName="builtyNumber">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Sale Quantity" formControlName="quantity">
          <mat-error *ngIf="handleError('quantity', 'required')">
            You must provide a<strong>sale quantity</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Truck Number" formControlName="truckNumber">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Product Amount" formControlName="amount">
            <mat-error *ngIf="handleError('amount', 'required')">
              You must provide a<strong>product amount</strong>
            </mat-error>
          </mat-form-field>
      </div>
    </mat-card>
    <!-- Right block -->
    <mat-card>
      <div class="controlers-wrapper">
        <mat-form-field>
          <mat-label>Product</mat-label>
          <mat-select [(value)]="selectedProduct" formControlName="product">
            <mat-option [value]="element._id" *ngFor="let element of productList">
              {{element.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="handleError('product', 'required')">
            Product is required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Customer</mat-label>
          <mat-select [(value)]="selectedCustomer" formControlName="customer">
            <mat-option [value]="element._id" *ngFor="let element of customerList">
              {{element.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="handleError('customer', 'required')">
            Customer is required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Payment Type</mat-label>
          <mat-select [(value)]="selected" formControlName="paymentType">
            <mat-option [value]="paymentTypes[key]" *ngFor="let key of keys">
              {{paymentTypes[key]}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="handleError('paymentType', 'required')">
            Payment Type is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput readonly [matDatepicker]="picker" placeholder="Sale Date" formControlName="saleDate"
              (dateChange)="formatDate($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="handleError('saleDate', 'required')">
              Sale Date is required
            </mat-error>
          </mat-form-field>
      </div>
    </mat-card>
    <!-- Submit & Reset -->
    <mat-card>
      <div class="full-wrapper button-wrapper">
        <div class="button-wrapper">
          <button mat-flat-button color="warn">Submit</button>
        </div>
      </div>
    </mat-card>
  </form>
</div>
