<!-- Title group  -->
<div class="title-group">
  <h1 class="mat-h1">Add Sale</h1>
  <mat-divider fxFlex="1 0"></mat-divider>
</div>

<!-- Form -->
<div class="inner-wrapper">
  <form [formGroup]="saleForm" (ngSubmit)="submitSaleForm()" #resetSaleForm="ngForm" novalidate>
    <!-- Left block -->
    <mat-card>
      <div class="controlers-wrapper">
        <!-- Name -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Builty Number" formControlName="builtyNumber">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Truck Number" formControlName="truckNumber">
          <mat-error *ngIf="handleError('truckNumber', 'required')">
            You must provide a<strong> truck number</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card>
    <!-- Right block -->
    <mat-card>
      <div class="controlers-wrapper">

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Truck Rent" formControlName="truckRent">
          <mat-error *ngIf="handleError('truckRent', 'required')">
            You must provide a<strong> truck rent</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Description" formControlName="description">
        </mat-form-field>
      </div>
    </mat-card>
    <mat-divider></mat-divider>
    <div style="margin-top: 30px !important;">
      <table>
        <tr>
          <td>
            Select Product :
          </td>
          <td>
            <mat-form-field>
              <mat-select [(value)]="selectedProduct">
                <mat-option *ngFor="let product of productList" [value]="product._id">
                  {{product.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            Qty
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput value="10">
            </mat-form-field>
          </td>
          <td>
            <button type="button" mat-raised-button color="primary" (click)="startNewTable($event)">
              Start Adding Items</button>
          </td>
        </tr>
      </table>
      <table>
          <tr *ngFor="let ele of lineItems;let i = index">
            <td>
              <mat-form-field class="example-full-width">
                <input matInput type="date" value="{{ ele.date }}" (change)="onChangeDate($event, i)" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput #qty type="text" [(value)]="ele.qty" (change)="onChangeQty($event, i)" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput type="text" value="{{ ele.rate }}" (change)="onChangeRate($event, i)" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-select (selectionChange)="onChangeCustomer($event, i)">
                  <mat-option *ngFor="let customer of customerList" [value]="customer._id">
                    {{customer.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput type="text" value="{{ ele.totalAmount }}" readonly
                  (keydown.Tab)="startNewTable($event)" />
              </mat-form-field>
            </td>

          </tr>
        </table>
      <table class="result">
        <tr *ngIf="saleDetailList.length > 0">
          <th>Date</th>
          <th>Quantity</th>
          <th>Rate</th>
          <th>Customer</th>
          <th>Product</th>
          <th>Total Amount</th>
          <th colspan="2">Action</th>
        </tr>
        <tr *ngFor="let ele of saleDetailList.reverse() | sort: 'productName' let i=index;">
          <td>{{ele.date}}</td>
          <td>{{ele.qty}}</td>
          <td>{{ele.rate}}</td>
          <td>{{ele.customerName}}</td>
          <td>{{ele.productName}}</td>
          <td>{{ele.totalAmount}}</td>
          <td><button type="button" mat-flat-button color="primary" (click)="onEdit($event, i)">Edit</button></td>
          <td><button type="button" mat-flat-button color="warn" (click)="onDelete($event, i)">Delete</button></td>
        </tr>
      </table>

    </div>
    <mat-card>
      <div class="full-wrapper button-wrapper">
        <div class="button-wrapper">
          <button mat-flat-button color="warn">Submit</button>
        </div>
      </div>
    </mat-card>
  </form>
</div>
